extends nav_layout

block content
  div(class=['row'])
    each food in foods
      +food_display2(food, 's6')

mixin food_display2(food, columns)
  div(class=['col', columns])
    div(class='card')
      div(class='card-image food-image')
        img(src='img/food.jpg')
        span(class=['card-title'])
          a(class=['waves-light', 'btn', 'blue-grey', 'darken-2']) #{food.name}
          //h3(class='food-title') #{food.name}
      div(class='card-content')
        p #{food.description}
      div(class='card-action')
        -var userEndpoint = '/users/' + food.sellerId
        a(href=userEndpoint) #{food.name}


