extends nav_layout

block content
  h1= title
  p Welcome to #{title}

  //:markdown
  //  [test](https://google.com)

  each f in foods
    +food_display(f)

mixin food_box(food)
  ul
    li= food.name
    li= food.portionsAvailable
    li= food.description
    li
      - var userEndpoint = '/users/' + food.sellerId
        //console.log(food.sellerId)
      a(href=userEndpoint) Seller

mixin food_display(food)
  div(class=['span4', 'food-item-container', 'col-xs-4'])
    - var img = 'img/food.jpg'
    img(src=img, class='img-responsive')
    //div(class=['food-item-img'])
    //  - var img = 'img/food.jpg'
    //  img(src=img, class='.food-img')
    //
    //div(class=['food-item-info', 'span4'])
    //  p text


