extends nav_layout

block content
  h1= title
  p Welcome to #{title}

  //:markdown
  //  [test](https://google.com)

  each f in foods
    +food_box(f)

mixin food_box(food)
  ul
    li= food.name
    li= food.portionsAvailable
    li= food.description
    li
      - var userEndpoint = '/users/' + food.sellerId
      a(href=userEndpoint) Seller

mixin food_display(food)
  div
    - var img = (typeof food.image === 'undefined') ? 'img/food.jpg' : food.image
    img(src=img)

