extends nav_layout

block content
  h1= title
  p Welcome to #{title}

  //:markdown
  //  [test](https://google.com)

  each f in foods
    +food_box(f)

mixin food_box(food)
  ul
    li= food.name
    li= food.portionsAvailable
    li= food.description
    li
      :markdown
        [test](https://google.com)


