//displays food card
mixin food_card(food, img_path)
  div.card.food-card.blue-grey.lighten-5

    div.card-image
      img(src=food.images[0])
      span.card-title
        a.waves-light.btn.blue-grey.darken-2.activator #{food.name}

    div.card-content
      span.card-title.activator
        i.material-icons.right.small more_vert
        h5.activator #{food.description}

    div.card-reveal.blue-grey.lighten-5
      div.card-title.grey-text.text-darken-4
        i.material-icons.right.small close
        h5 #{food.name}
        h6 #{food.description}
        h6 #[b #{food.portionsAvailable}] servings ready at
          | #[b #{" $" + parseFloat(Math.round(food.price * 100) / 100).toFixed(2)}] each.
        h6 #{food.address.number + " " + food.address.street + ", " + food.address.city}

      span.content-bottom
        div.row
          form(action='/purchases/create', method='POST', id='payment-form')
            span.payment-errors
            span.food-id(id=food.id)
            div.row
              div.col.s6
                input(placeholder='Credit Card Number', data-stripe='number')
              div.col.s6
                input(placeholder='CVC', data-stripe='cvc')
            div.row
              div.col.s4
                input(type='text', placeholder='Expiration Year', data-stripe='exp-year')
              div.col.s4
                input(type='text', placeholder='Expiration Month', data-stripe='exp-month')
              div.col.s4
                input(class='disabled', type='text', value=food.price)

            button.btn-large.waves-effect.waves-light.col.s12(type='submit') Purchase your food.
              i.material-icons.right send
